
/*-- scss:defaults --*/


$body-bg:#ffefd5;
$body-color: #dc134c;
$link-color: #42affa;
/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}